<% breadcrumb :evaluation, @quiz %>

  <div class="grey-bordered gapped content">
    <div class="flex column">
      <div class="flex spaced-between">
        <div class="new">
          <h4 class="bold">{{Date}}</h4>
          <p>Appraisal Form</p>
        </div>

        <div class="long-svg icon">
          <%= inline_svg("company_logo.svg") %>
        </div>
      </div>

      <div class="flex spaced-between">
        <p> Questions</p>
      </div>
    </div>

    <br>
    <%= render "form" %>
  </div>
