<% breadcrumb :evaluation, @quiz %>

  <div class="alt-border gapped content">
    <div class="flex column">
      <div class="flex spaced-between">
          <div class="info">
            <h4 class="bold"><%= DateTime.now %></h4>
            <h1>Test</h1>
          </div>

        <div class="long-svg icon">
          <%= inline_svg("logo.svg") %>
        </div>
      </div>

    </div>

    <br>
    <%= render "form" %>
  </div>
