<% breadcrumb :quiz, @quiz %>

<div class="gapped quiz-area">
  <section class="flex rounded basic-border column content post">

    <div class="post-header">
      <h1 class="post-title">
        <%= @quiz.title %> quiz questions and answers
      </h1>
    </div>

    <div class="padded post-content" >

    <% if @questions.any? %>
      <div class="gapped">
        <table>
          <tr>
            <th>id</th>
            <th>question</th>
            <th>answers id's</th>
            <th>actions</th>
          </tr>
          <%= render :partial => @questions %>
        </table>
      </div>

      <% else %>

      <div class="message">
        <h1>No Quizzes for this topic yet</h1>
      </div>

      <% end %>

    </div>

    <div class="padded post-footer">
      <div class="post-meta">
        <p class="post-date"><%= @quiz.questions.size %> Questions</p>

      </div>
    </div> 

  </section>
</div>

