<% breadcrumb :quizzes, @quizzes %>

<div class="quiz-content">
    <div class="inner-section">
      <div class="post-content">

        <div class="main grid cards">
          <%= render partial: @quizzes %>
        </div>

    </div>
  </div>
</div>
