<% breadcrumb :quizzes, @quizzes %>

<div class="fill-avail-h quiz-content">
    <div class="inner-section">
      <div class="post-content">

        <div class="main grid cards">
          <%= render partial: @quizzes, cached: true if @quizzes.any? %>
        </div>

    </div>
  </div>
</div>
