<% title 'New Quiz' %>
<% breadcrumb :quiz, @quiz %>

<div class="flex gapped">
  <article class="flex full-width rounded basic-border column content page">

    <div class="padded page-content">
      <div class="page-body">
        <%= render 'form', quiz: @quiz %>
      </div>
    </div>

  </article>
</div>
