<div id="<%= dom_id notification %>">
  <p>
    <strong>Content:</strong>
    <%= notification.content %>
  </p>

  <p>
    <strong>Notifiable type:</strong>
    <%= notification.notifiable_type %>
  </p>

  <p>
    <strong>Notifiable:</strong>
    <%= notification.notifiable_id %>
  </p>

</div>
