DB_PATH=/data
LITESTACK_DATA_PATH="/data"
RAILS_ENV=development
RAILS_MASTER_KEY=0000000000000000
RAILS_SERVE_STATIC_FILES=true
RAILS_MAX_THREADS=5
RAILS_MIN_THREADS=3
WEB_CONCURRENCY=2
RAILS_LOG_TO_STDOUT=true
APP_URL=example.com
POSTMARK_API_TOKEN=00000000-0000-0000-0000-000000000000
BACKTRACE=false
