  <div class="dashboard" data-controller="tabs">

      <div class="flex spaced-between">
        <ul class="flex slightly padded left-margin grouped buttons">
          <li class="small slightly light-text padded button" data-tabs-target="tab" data-action="click->tabs#activate">Free</li>
          <li class="small slightly light-text padded button" data-tabs-target="tab" data-action="click->tabs#activate">Paid</li>
        </ul>

        <ul class="flex slightly padded left-margin grouped buttons">
          <li class="small slightly light-text padded button active">all time</li>
          <li class="small slightly light-text padded button">week</li>
          <li class="small slightly light-text padded button">month</li>
          <li class="small slightly light-text padded button">year</li>
        </ul>
     </div>


      <div class="flex padded-sides spaced-between">
        <div class="meta">
          
        </div>
        <div class="meta">
          <h4 class="small gray-text"># : {{}}</h4>
        </div>
     </div>

     <div class="panel hidden" data-tabs-target="panel">
        <div class="flex evenly-spaced no-margin panel">
         <div class="grey-bordered third-width sparkline content" id="sparkline_latest">
           <div class="padded">
             <h1>Users : <%= User.all.size %></h1>
           </div>
           <!-- total completed eval for the period -->
         </div>

         <div class="grey-bordered third-width sparkline content" id="sparkline_current">
           <div class="padded">
             <h1>Quizzes Taken : <%= Quiz.all.size %></h1>
           </div>
           <!-- for each of total evals what was the avarage score for the selected period -->
         </div>

         <div class="grey-bordered third-width sparkline content" id="sparkline_total">
           <div class="padded">
             <h1>Visits : <%= Post.all.size %></h1>
           </div>
           <!-- for each of total evals what was the avarage score for the selected period -->
         </div>
        </div>

    <div class="flex evenly-spaced panel">

       <div class="grey-bordered half-width content">
         <div id="bar_chart">
         </div>
       </div>

       <div class="grey-bordered half-width content">
         <div id="pie_chart">
         </div>
       </div>

     </div>

     <div class="flex panel">
       <div class="grey-bordered full-width content">
       </div>
     </div>

  </div>

     <div class="panel hidden" data-tabs-target="panel">
        <div class="flex evenly-spaced no-margin panel">
         <div class="grey-bordered third-width sparkline content" id="sparkline_latest">
          <div class="padded">
            <h1>Active Loans : {{}}</h1>
          </div>
           <!-- total completed eval for the period -->
         </div>

         <div class="grey-bordered third-width sparkline content" id="sparkline_current">
          <div class="padded">
            <h1>Fufilled Loans  : {{}}</h1>
          </div>
           <!-- for each of total evals what was the avarage score for the selected period -->
         </div>

         <div class="grey-bordered third-width sparkline content" id="sparkline_total">
          <div class="padded">
            <h1>Overdue Loans : {{}}</h1>
          </div>
           <!-- for each of total evals what was the avarage score for the selected period -->
         </div>
        </div>

    <div class="flex evenly-spaced panel">

       <div class="grey-bordered half-width content">
         <div id="bar_chart">
         </div>
       </div>

       <div class="grey-bordered half-width content">
         <div id="pie_chart">
         </div>
       </div>

     </div>

     <div class="flex panel">
       <div class="grey-bordered full-width content">
       </div>
     </div>
  </div>
