<div id="<%= dom_id tagging %>">
  <p>
    <strong>Taggable:</strong>
    <%= tagging.taggable_id %>
  </p>

  <p>
    <strong>Taggable type:</strong>
    <%= tagging.taggable_type %>
  </p>

  <p>
    <strong>Tag:</strong>
    <%= tagging.tag_id %>
  </p>

</div>
