<div id="<%= dom_id correct_answer %>">
  <p>
    <strong>Question:</strong>
    <%= correct_answer.question_id %>
  </p>

  <p>
    <strong>Answer:</strong>
    <%= correct_answer.answer_id %>
  </p>

</div>
