<section class="flex just-centered padded container">
  <div class="padded following">
    <div class="heading">
      <h1>Ready for the test ?</h1>
      <div class="tagline">
        <p>We’re supporting a community where more than 5 thousand people learn, share  driving related information.</p>
      </div>
    </div>
    <div class="stats-box">
      
      <div class="stat">
        <span class="large-text"><%= @users_count %></span>
        <span class="small-text">Registered users</span>
      </div>

      <div class="stat">
        <span class="large-text"><%= @quizzes_count %></span>
        <span class="small-text">Quizzes taken</span>
      </div>

      <div class="stat">
        <span class="large-text"><%= @questions_count %></span>
        <span class="small-text">Sets of questions</span>
      </div>
    </div>

    <div class="padded heading">
      <p>We’re working hard to build a supportive, welcoming place to learn and share information</p>
    </div>

  </div>
</section>
