<section>
  <div class="testimonials">
    <div class="pre-text">
      <h1>User success stories</h1>
      <p>Learner to Driver has helped these great folks reach their goals, we can help you as well</p>
    </div>
    <section class="quotes slider" id="slider">
        <div class="mask">

            <blockquote>
              <div class="slide firstanimation">
                <%= image_tag('avatars/maphumulops.jpg', class: 'quote-avatar') %>
                <p>I passed my learners thanks to LearnertoDriver.co.za, I will definitely suggest it to my friends and family</p>
                <cite>@maphumulops</cite>
              </div>
            </blockquote>

            <blockquote>
              <div class="slide secondanimation">
                <%= image_tag('avatars/faithsenene.jpg', class: 'quote-avatar') %>
                <p>I will be writing my learners tomorrow and I feel much more confident after using the resources provided on this site. Thank you!</p>
                <cite>@faithsenene</cite>
              </div>
            </blockquote>

            <blockquote>
              <div class="slide thirdanimation">
                <%= image_tag('avatars/minne_zee.jpg', class: 'quote-avatar') %>
                <p>Thank you so much for this service it's exceptional</p>
                <cite>@minne_zee</cite>
              </div>
            </blockquote>

        </div>
      </section>
  </div>
</section>
