<p style="color: green"><%= notice %></p>

<% content_for :title, "Evaluations" %>

<h1>Evaluations</h1>

<div id="admin_evaluations">
  <% @admin_evaluations.each do |admin_evaluation| %>
    <%= render admin_evaluation %>
    <p>
      <%= link_to "Show this evaluation", admin_evaluation %>
    </p>
  <% end %>
</div>

<%= link_to "New evaluation", new_admin_evaluation_path %>
