<div id="<%= dom_id quiz_question_linkage %>">
  <p>
    <strong>Question:</strong>
    <%= quiz_question_linkage.question_id %>
  </p>

  <p>
    <strong>Quiz:</strong>
    <%= quiz_question_linkage.quiz_id %>
  </p>

</div>
