<% content_for :title, "New quiz question linkage" %>

<h1>New quiz question linkage</h1>

<%= render "form", admin_quiz_question_linkage: @admin_quiz_question_linkage %>

<br>

<div>
  <%= link_to "Back to quiz question linkages", admin_quiz_question_linkages_path %>
</div>
