:not(.active) {
  > .hide-actv {
    display: inherit;
  }

  > .show-actv {
    display: none;
  }
}

.active {
  > .hide-actv {
    display: none;
  }

  > .show-actv {
    display: inherit;
  }
}

.tabbar {
  border: thin solid var(--gainsboro);

  &.grouped {
    margin: 0;
  }

  .tab {
    background: var(--mid-color);
    cursor: pointer;
    padding: 1.4rem 0.2rem;
    text-align: center;
    text-transform: uppercase;
    border-left: 1px solid var(--gainsboro);
    border-right: 1px solid var(--gainsboro);

    &.active {
      background: var(--light);
      border-left: 1px solid var(--gainsboro);
      border-right: 1px solid var(--gainsboro);
      font-weight: bold;
    }
  }
}

.grey-block {
  background: var(--light);
  padding: 4rem 2rem;
}

.hero {
  display: inline-block;
}

.grouped {
  .button {
    cursor: pointer;
    border: none;

    &.active {
      background-color: var(--white);
      border: thin solid var(--gainsboro);
      cursor: revert;
      color: var(--accent-bg);
    }

    &:first-child {
      border-top-left-radius: 0.2rem;
      border-bottom-left-radius: 0.2rem;
    }

    &:last-child {
      border-top-right-radius: 0.2rem;
      border-bottom-right-radius: 0.2rem;
    }
  }
}

.outline-btn {
  border-radius: 0.4rem;
  padding: 0.4rem;

  &.dark-btn {
    border: 2px solid var(--blackish);
    color: var(--brand-alt);
    transition: color 0.3s ease;

    &:hover {
      color: var(--light);
      background-color: var(--brand-alt);
    }
  }
}

.button {
  padding: 0.4rem 0.8rem;
  background-color: var(--accent-bg);
  color: var(--light);

  &.thin-btn {
    padding: 0.4rem 1.2rem;
  }

  &.dark {
    border: thin solid var(--accent-bg);

    &:hover,
    &:focus {
      background-color: var(--accent-color);
      border: thin solid var(--accent-bg);
      color: var(--brand-alt);
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.5;

      &:hover {
        background-color: var(--accent-color);
      }
    }
  }

  &.light {
    background-color: var(--light);
    border: thin solid var(--brand-alt);
    color: var(--brand-alt);

    &:hover,
    &:focus {
      background-color: var(--brand-alt);
      border: thin solid var(--light);
      color: var(--brand-alt);
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.5;

      &:hover {
        background-color: var(--light);
      }
    }
  }
}

.gapped {
  gap: 2rem;
  margin: 2rem;

  &.no-lm {
    margin-left: 0;
  }

  &.no-rm {
    margin-right: 0;
  }
}

.controls {
  .filter-container {
    display: none;

    &.active {
      display: block;
    }
  }
}

.content {
  background: var(--white);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  padding: 2rem;
}

.sparkline {
  padding: 2rem 0.4rem;
}

.heading {
  margin: 1.2rem auto;
  max-width: 60%;
}

.message-container {
  background: var(--blue);
  border-radius: 20px;
  margin: 10px auto;
  min-height: 100px;
  padding: 25px;
  width: 80%;
}

.heading,
.pre-text {
  h1 {
    color: var(--dark);
    font-weight: 600;
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;
  }

  p {
    font-size: 20px;
  }
}

.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url("bg/main.png");
  background-size: cover;
  font-weight: 400;
  text-align: center;
  width: 100%;
  height: 200px;
  display: table;

  h1 {
    display: table-cell;
    vertical-align: middle;
    font-size: 30pt;
    color: var(--light);
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
  }
}

.following {
  color: var(--blackish);
  font-weight: 500;
  text-align: center;
  text-transform: capitalize;

  h1 {
    font-size: 48px;
  }
}

.tagline {
  color: var(--grey);
  font-size: 26px;
  font-weight: 300;
  margin: 2rem auto;
  width: 83.33%;
}

.tags {
  .tag-container {
    margin: 0 0.4rem 0.4rem 0;

    .tag {
      border: thin solid var(--gainsboro);
      border-radius: 0.2rem;
      font-size: 14px;
      padding: 0.4rem;

      &:hover {
        background-color: var(--gainsboro);
        border: thin solid var(--gainsboro);
      }
    }

    .removeable-tag {
      border: thin solid var(--gainsboro);
      font-size: 14px;
      padding: 0.4rem;
    }

    .tag-button {
      border: thin solid var(--gainsboro);
      font-size: 14px;
      padding: 0.4rem;

      &:hover {
        background-color: var(--gainsboro);
        border: thin solid var(--gainsboro);
      }
    }
  }
}

.stats-box {
  background-color: var(--white);
  border: 2px var(--gainsboro) solid;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  margin: auto;
  width: 80%;
}

.stat {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 1.2rem;

  .large-text {
    font-size: 36px;
  }

  .small-text {
    font-size: 14px;
  }
}

.blocks {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.block {
  margin: 1.2rem auto;
  max-width: 540px;
  padding: 1.5em;
  text-align: left;
  width: 30%;

  p,
  h2 {
    color: var(--light);
    text-align: center;
  }

  button {
    width: 100%;
  }

  &.content {
    padding: 0.4rem 0 0;
  }
}

.block-header {
  border-bottom: 1px solid var(--gainsboro);

  h1 {
    font-size: 20px;
  }
}

.striped {
  &:nth-child(even) {
    background-color: var(--gainsboro);
    border-top: 1px solid var(--mid-color);
    border-bottom: 1px solid var(--mid-color);
  }
}

.block-content {
  border-radius: 0.2em;
  display: flex;
  flex-direction: column;
  padding: 1em;
  width: 100%;

  img {
    height: 80px;
    margin: 2% auto;
  }

  p {
    color: var(--blackish);
    flex: 1 0 auto;
    padding: 10px;
  }

  h2 {
    color: var(--blackish);
    text-align: center;
  }
}

.dropzone {
  background-color: whitesmoke;
  text-align: center;
  border-color: #dcdcdc;
  border-style: dashed;
  border-width: thick;

  &:hover {
    background-color: #fafafa;
    color: #767676;
    border-color: #ffa900;
    border-style: dashed;
    border-width: thick;
  }
}

@media screen and (max-width: 980px) {
  .grid-item {
    width: 75%;
  }
}

@media screen and (max-width: 800px) {
  .to-column {
    flex-direction: column;

    .to-full {
      width: 100%;
    }
  }
}

@media screen and (max-width: 640px) {
  .grid-item {
    width: 100%;
  }
}

@media screen and (min-width: 700px) {
  .stats-box {
    width: 85%;
    flex-direction: row;
  }

  .stat {
    width: 33%;

    &:nth-child(2) {
      border-left: 2px solid var(--gainsboro);
      border-right: 2px solid var(--gainsboro);
      border-top: 0;
      border-bottom: 0;
    }
  }

  .block {
    width: 30%;
  }
}

@media screen and (max-width: 960px) {
  .block {
    width: 45%;
  }
}

@media screen and (max-width: 540px) {
  .stats-box {
    width: 95%;
    flex-direction: column;
  }

  .heading {
    max-width: 90%;
  }

  .stat {
    width: 100%;

    &:nth-child(2) {
      border-top: 2px solid var(--gainsboro);
      border-left: 0;
      border-right: 0;
      border-bottom: 2px solid var(--gainsboro);
    }
  }

  .block {
    width: 90%;
  }

  .gapped {
    margin: 0.8rem;
  }
}

@media screen and (max-width: 650px) {
  .tabbar {
    .tab {
      padding: 1.2rem 0.2rem;
    }
  }

  .block {
    width: 80%;
  }
}
