.progressbar {
  width: 98%;
  height: 17px;
  background-color: var(--light);
  margin: 0.6em 0;
  border: thin double var(--slate);
  border-radius: 5px;
  box-shadow: 0 1px 5px var(--slate) inset, 0 1px 0 var(--gainsboro);
}

.progress {
  border-radius: 5px;
  height: 15px;
  max-width: 100%;
  float: left;
  width: 100%;

  &.red {
    background-image: linear-gradient(to right, var(--red) 0%, var(--red) 100%);
  }

  &.green {
    background-image: linear-gradient(to right, var(--green) 0%, var(--green) 100%);
  }

  &.yellow {
    background-image: linear-gradient(to right, var(--accent-color) 0%, var(--accent-color) 100%);
  }
}

.icons {
  .open {
    display: none;
  }

  .closed {
    display: block;
  }

  &.active {
    .open {
      display: block;
    }

    .closed {
      display: none;
    }
  }
}

.conditional-message {
  background-color: var(--light);
  opacity: 0;
  padding: 1.2rem;
  position: sticky;
  transition: 0.3s;
  top: 2.4rem;
  visibility: hidden;

  &.showing {
    opacity: 1;
    visibility: visible;
  }
}
