<form class="new_user" id="new_user" action="/" accept-charset="UTF-8" method="post"><input type="hidden" name="authenticity_token" value="vzvLXnn8dIQUoQ7Q8a0PqucQ_l-BvRZqk-vbWGm9-fvKsdUcYW2S6J5tQHn-r8sinsNLdy2TdPmkLQ8XvA49IA" autocomplete="off">

  <div class="field">
    <label for="user_first_name">First name</label>
    <input required="required" autofocus="autofocus" autocomplete="name" type="text" name="user[first_name]" id="user_first_name">

    <label for="user_last_name">Last name</label>
    <input required="required" autocomplete="family-name" type="text" name="user[last_name]" id="user_last_name">
  </div>

  <div class="field">
    <label for="user_username">Username</label>
    <input required="required" type="text" name="user[username]" id="user_username">
  </div>

  <div class="field">
    <label for="user_email">Email</label>
    <input required="required" autocomplete="email" type="email" value="" name="user[email]" id="user_email">
  </div>

  <div class="field">
    <label for="user_password">Password</label>
    <em>(6 characters minimum)</em>
    <input autocomplete="new-password" type="password" name="user[password]" id="user_password">
  </div>

  <div class="field">
    <label for="user_password_confirmation">Password confirmation</label>
    <input autocomplete="new-password" type="password" name="user[password_confirmation]" id="user_password_confirmation">
  </div>

  <div class="actions">
    <input type="submit" name="commit" value="Create my account" data-disable-with="Create my account">
  </div>
</form><form class="new_user" id="new_user" action="/" accept-charset="UTF-8" method="post"><input type="hidden" name="authenticity_token" value="vzvLXnn8dIQUoQ7Q8a0PqucQ_l-BvRZqk-vbWGm9-fvKsdUcYW2S6J5tQHn-r8sinsNLdy2TdPmkLQ8XvA49IA" autocomplete="off">



  <div class="field">
    <label for="user_first_name">First name</label>
    <input required="required" autofocus="autofocus" autocomplete="name" type="text" name="user[first_name]" id="user_first_name">

    <label for="user_last_name">Last name</label>
    <input required="required" autocomplete="family-name" type="text" name="user[last_name]" id="user_last_name">
  </div>

  <div class="field">
    <label for="user_username">Username</label>
    <input required="required" type="text" name="user[username]" id="user_username">
  </div>

  <div class="field">
    <label for="user_email">Email</label>
    <input required="required" autocomplete="email" type="email" value="" name="user[email]" id="user_email">
  </div>

  <div class="field">
    <label for="user_password">Password</label>
    <em>(6 characters minimum)</em>
    <input autocomplete="new-password" type="password" name="user[password]" id="user_password">
  </div>

  <div class="field">
    <label for="user_password_confirmation">Password confirmation</label>
    <input autocomplete="new-password" type="password" name="user[password_confirmation]" id="user_password_confirmation">
  </div>

  <div class="actions">
    <input type="submit" name="commit" value="Create my account" data-disable-with="Create my account">
  </div>
</form>
