<div class="full-height mid-center auth">
  <div class="alt-border content form">
    <div class="full-width">

      <div class="flex just-centered logo">
        <%= link_to root_path do %>
          <%= image_tag 'svg/company_logo_black.svg' %>
        <% end %>
      </div>

      <%= yield %>

    </div>
  </div>
</div>
