<nav role="navigation" class="dark-bg full-width flex spaced-between top-nav">
  <ul class="flex auto-marg navlist">
    <li class="flex"><%= link_to "Home", root_path, class: "white-text padded link #{current? "active", root_path}"%></li>
    <li class="flex"><%= link_to "Quizz", quizzes_path, class: "white-text padded link #{current? "active", quizzes_path}"%></li>
    <li class="flex"><%= link_to "Blog", posts_path, class: "white-text padded link #{current? "active", posts_path}"%></li>
    <li class="flex"><%= link_to "About", root_path, class: "white-text padded link #{current? "active", root_path}"%></li>
  </ul>
</nav>
