<% content_for :title, "Editing response" %>

<h1>Editing response</h1>

<%= render "form", admin_response: @admin_response %>

<br>

<div>
  <%= link_to "Show this response", @admin_response %> |
  <%= link_to "Back to responses", admin_responses_path %>
</div>
