<% title @page.title.titleize %>
<% breadcrumb :page, @page %>

<div class="flex gapped">
  <article class="flex full-width rounded gainsboro-bordered column content page">

    <div class="page-header">
      <h1 class="page-title" itemprop="name headline">
        <%= @page.title %>
      </h1>
    </div>

    <div class="padded page-content" itemprop="articleBody">
      <div class="page-body">
        <%= Liquid::Template.parse(@page.template).render({'author' => @page.author.name }) %>
      </div>
    </div>

  </article>
</div>
