<% title @page.title.titleize %>
<% breadcrumb :page, @page %>

<% content_for :action_bar do %>
  <%= render 'layouts/common/action_bar', item: @page %>
<% end %>

<div class="flex gapped">
  <div class="flex full-width rounded basic-border column content page">

    <div class="page-header">
      <h1 class="page-title">
        <%= @page.title %>
      </h1>
    </div>

    <div class="padded page-content">
      <div class="padded page-body">
        <%= sanitize(from_markdown(liquidize(@page.content))) %>
      </div>
    </div>

  </div>
</div>
