<div id="<%= dom_id admin_user %>">
  <p>
    <strong>Email:</strong>
    <%= admin_user.email %>
  </p>

  <p>
    <strong>Password digest:</strong>
    <%= admin_user.password_digest %>
  </p>

</div>
