<% content_for :title, "New admin user" %>

<h1>New admin user</h1>

<%= render "form", admin_admin_user: @admin_admin_user %>

<br>

<div>
  <%= link_to "Back to admin users", admin_admin_users_path %>
</div>
