<% content_for :title, "New friendly id slug" %>

<h1>New friendly id slug</h1>

<%= render "form", admin_friendly_id_slug: @admin_friendly_id_slug %>

<br>

<div>
  <%= link_to "Back to friendly id slugs", admin_friendly_id_slugs_path %>
</div>
