<% content_for :title, "Editing post" %>

<h1>Editing post</h1>

<%= render "form", admin_post: @admin_post %>

<br>

<div>
  <%= link_to "Show this post", @admin_post %> |
  <%= link_to "Back to posts", admin_posts_path %>
</div>
