<p style="color: green"><%= notice %></p>

<% content_for :title, "Posts" %>

<h1>Posts</h1>

<div id="admin_posts">
  <% @admin_posts.each do |admin_post| %>
    <%= render admin_post %>
    <p>
      <%= link_to "Show this post", admin_post %>
    </p>
  <% end %>
</div>

<%= link_to "New post", new_admin_post_path %>
