<div id="<%= dom_id question %>">
  <p>
    <strong>Content:</strong>
    <%= question.content %>
  </p>

  <p>
    <strong>Kind:</strong>
    <%= question.kind %>
  </p>

  <p>
    <strong>Information:</strong>
    <%= question.information %>
  </p>

</div>
