<% content_for :title, "Editing question" %>

<h1>Editing question</h1>

<%= render "form", admin_question: @admin_question %>

<br>

<div>
  <%= link_to "Show this question", @admin_question %> |
  <%= link_to "Back to questions", admin_questions_path %>
</div>
