<% content_for :title, "New active storage attachment" %>

<h1>New active storage attachment</h1>

<%= render "form", admin_active_storage_attachment: @admin_active_storage_attachment %>

<br>

<div>
  <%= link_to "Back to active storage attachments", admin_active_storage_attachments_path %>
</div>
