<div class="level-one fixed full-width white-bg bottom-nav">
  <div class="grey-bordered flex spaced-between dashboard-footer">
    <p class="small grey-text"><%= t("site_name") %> | v <%= t("app_version") %></p>
    <p class="small grey-text"><%= current_user.name.familiar  %></p>
  </div>
</div>
