<div class="full-width sidebar-container hidden" data-target="sidebar.bar">
  <aside class="left sidebar">
    <ul class="level-two fixed sidebar-items dark">

      <li>
        <div class="non-clickable light-fill small-svg icon"><%= inline_svg('icons/dashboard.svg') %></div>
        <%= link_to_active 'Dashboard', root_path, class: 'full-width light-text nav-item' %>
      </li>

      <li>
        <div class="non-clickable light-fill small-svg icon"><%= inline_svg('icons/user.svg') %></div>
        <%= link_to_active 'Appriasals', users_path(current_user), class: 'full-width light-text nav-item' %>
      </li>

    </ul>
  </aside>
</div>
