<div class="full-width sidebar-container hidden" data-target="sidebar.bar">
  <aside class="left sidebar">
    <ul class="level-two fixed sidebar-items dark">
      <li><div class="non-clickable light-fill small-svg icon"><%= inline_svg('icons/dashboard.svg') %></div></li>
      <li><div class="non-clickable light-fill small-svg icon"><%= inline_svg('icons/user.svg') %></div></li>
    </ul>
  </aside>
</div>
