.log-in,
.sign-up {
  margin: 4rem .4rem;

  h1,
  h2 {
    text-align: center;
  }
}

.devise {
  width: 90%;
  margin: auto;
  max-width: 650px;

  .mainbox {
    margin-left: auto;
    margin-right: auto;
  }

  .email,
  .submit,
  .btn,
  .password {
    width: 100%;
  }

  .btn {
    background: $sky;
    border: 0;
    border-radius: 3px;
    color: $white;
    cursor: pointer;
    padding: 10px;
  }

  .links {
    font-size: 95%;
    margin: 2rem 0 0;
  }

  a {
    color: $neon-blue;
  }

  h2 {
    font-weight: 600;
    text-align: center;
  }

  div,
  .boolean {
    margin: .2rem;
  }

  input {
    background-image: none;
    color: inherit;
    font: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    transition: background-color .3s;
  }
}

.alert {
  animation: fadeinout 8s linear forwards;
  background-color: $pencil;
  border-radius: 2px;
  color: $white;
  left: 50%;
  margin-left: -125px;
  min-width: 250px;
  padding: 16px;
  position: fixed;
  text-align: center;
  top: 15%;
  z-index: 1;
}

.form {
  border-radius: .4rem;
  padding: 1.8rem 2rem;

  .form-actions {
    padding-top: 1.8rem;
  }

  h1 {
    font-weight: 700;
  }

  h2 {
    font-weight: 600;
  }
}

.logo-container {
  // width: 200px;
  margin: 0 auto;

  .logo {
    margin: 0 auto;

    a {
      margin: 0 auto;
    }
  }

  svg {
    max-width: 200px;
  }
}

.lines-grad {
  background-image: url("/svg/lines_light.svg"), radial-gradient($slate 5%, $clean 15%, $clean 60%);
  background-position: center 10%;
  background-size: cover;
}

.lines-bg {
  background-image: url("/svg/lines_light.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}

.main-bg {
  background-image: url("/svg/main.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}

.thin-bg {
  background-image: url("/svg/thin.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}

@keyframes fadeinout {
  0%,
  100% {
    opacity: 0;
    visibility: hidden;
  }

  50% {
    opacity: 1;
    visibility: visible;
  }
}
