<div id="<%= dom_id active_storage_variant_record %>">
  <p>
    <strong>Blob:</strong>
    <%= active_storage_variant_record.blob_id %>
  </p>

  <p>
    <strong>Variation digest:</strong>
    <%= active_storage_variant_record.variation_digest %>
  </p>

</div>
