<% content_for :title, "New active storage variant record" %>

<h1>New active storage variant record</h1>

<%= render "form", admin_active_storage_variant_record: @admin_active_storage_variant_record %>

<br>

<div>
  <%= link_to "Back to active storage variant records", admin_active_storage_variant_records_path %>
</div>
