<% content_for :title, "New active storage blob" %>

<h1>New active storage blob</h1>

<%= render "form", admin_active_storage_blob: @admin_active_storage_blob %>

<br>

<div>
  <%= link_to "Back to active storage blobs", admin_active_storage_blobs_path %>
</div>
