<div class="shadowed texture light-inset-shd txr-dark post-meta-container">
  <div class="post-author">
    <div class="post-author-content">
      <div class="bold"><%= post.user.name %></div>
    </div>
  </div>
</div>
