<%= simple_form_for @post do |f| %>

  <div class="flex">
    <div class="full-width">
      <%= f.text_field :title, class: "basic-border form-textarea" %>
    </div>
  </div>
  <%= f.text_area :content, class: "basic-border form-textarea" %>
<% end %>
