<li class="flex tag-container">
  <span class="removeable-tag gainsboro-bg"><%= tag.title %></span>
  <a href="remove" class="tag-button clickable gainsboro-bg">
    <div class="red-stroke micro-svg icon">
      <%= inline_svg("icons/close.svg") %>
    </div>
  </a>
</li>
