<% title @post.title.titleize %>
<% breadcrumb :post, @post %>

<div class="flex gapped">
  <article class="flex full-width rounded gainsboro-bordered column content page">

    <div class="page-header">
      <h1 class="capitalized page-title">
        <%= @post.title %>
      </h1>
    </div>

    <div class="padded page-content">
      <div class="page-body">
        <%= render 'form' %>
      </div>
    </div>

  </article>
</div>
