<% breadcrumb :posts, @posts %>

<div class="wrapper">
  <div class="posts" id="posts" >
    <%= render :partial => @posts %>
  </div>
  <br>
  <div class="flex centered pagination-container">
  </div>
  <br>
</div>
