<% title 'Latest Posts' %>
<% breadcrumb :posts, @posts %>

<div class="wrapper">
  <div class="posts">
    <%= render partial: 'post_preview', collection: @posts, cached: true, as: :post %>
  </div>
</div>
