<% title "New Page" %>
<% breadcrumb :post, @post %>

<div class="flex gapped">
  <article class="flex full-width rounded basic-border column content page">

    <div class="padded page-content" itemprop="articleBody">
      <div class="page-body">
        <%= render 'form' %>
      </div>
    </div>

  </article>
</div>

