<% title 'New Post' %>
<% breadcrumb :new_post, @post %>

<div class="flex gapped">
  <div class="flex full-width rounded shadowed basic-border max-content column white-bg post">
    <div class="post-body">
      <%= render 'content_form', post: @post %>
    </div>
  </div>

  <div class="third-width">
    <div class="hr-sectioned max-content white-bg shadowed rounded basic-border aside">
      <%= render 'attributes_form', post: @post %>
    </div>
  </div>
</div>
