.app {
  flex: 1;
  min-height: 100vh;

  &.shared {
    margin: 0 0 0 180px;
  }

  &.full {
    margin: 0;
  }

  .top-nav {
    top: -60px;
    padding-top: 60px;
    z-index: 3;
  }

  .wrapper {
    padding: 45px 0 40px;
    min-height: stretch;

    .flex {
      .block {
        margin: 1.2rem;
      }
    }

    h1,
    h2,
    h3,
    h4 {
      text-transform: capitalize;
    }

    p {
      text-transform: initial;
    }

    &.right-side {
      margin-left: 165px;
    }
  }
}

.bottom-nav {
  border-top: 1px solid var(--gainsboro);
  bottom: 0;
  min-width: 350px;

  .icon {
    margin: auto;

    &.active {
      border-top: 4px solid var(--brand-color);
      background: var(--light);
    }

    svg {
      width: 30px;
      height: 30px;
    }
  }
}

@media screen and (max-width: 550px) {
  .app {
    .desktop {
      display: none;
    }

    .wrapper {
      &.right-side {
        margin-left: 0;
      }
    }
  }
}

.app-container {
  margin-top: 72px;
  min-height: calc(100vh - 123px);
}

.actions {
  align-items: end;
}

.sparkline {
  padding: 0.8rem 0 0;

  &.decreased {
    color: var(--red);
  }

  &.increased {
    color: var(--green);
  }
}

.overview-cards {
  .overview {
    border-radius: 4px;
    border-top: 2px solid var(--brand-color);

    h1 {
      font-size: 50px;
    }

    p {
      color: var(--grey);
      font-weight: 600;
    }

    &:first-of-type {
      margin: 0 2rem 0 0;
    }

    &:last-of-type {
      margin: 0 0 0 2rem;
    }
  }
}

.text-area {
  max-width: 80%;
  margin: auto 4rem;
  padding: 4rem;

  svg {
    width: 400px;
  }
}

.document {
  width: 100px;

  &.preview {
    width: 100%;
  }
}

.hero-container {
  text-align: center;

  h1 {
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 30px;
  }

  h3 {
    margin-left: auto;
    margin-right: auto;
    max-width: 750px;
    padding: 0 30px;
    position: relative;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    z-index: 1;
  }
}

.hero {
  margin-bottom: 4rem;
  padding: 150px 0 90px;

  &.overlaid {
    &::after {
      background: url("bg/confetti.png");
      background-size: cover;
      background-repeat: repeat;
      content: "";
      display: block;
      height: 100%;
      opacity: 0.6;
      pointer-events: none;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 0;
    }
  }
}

.texture {
  background-image: url("bg/cream_dust.png");
}

.lighter {
  background-image: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%);
}

.backimage {
  background: var(--grey);
  width: 60%;
}

.sideimage {
  background-image: url("bg/main.png");
  background-size: cover;
  width: 40%;
}

.icon-item {
  float: left;
  display: block;
  margin-right: 2%;
  width: 48%;
  padding-bottom: 0;
  padding-left: 2.625rem;
  position: relative;

  h2 {
    font-size: 1.1rem;
    display: block;
    margin: 0.67rem 0;
  }

  p {
    font-size: 1rem;
    margin: 0 0 0.75rem;
  }

  svg,
  img {
    position: absolute;
    top: -5px;
    left: 0;
    max-width: 31px;
  }

  &:nth-child(odd) {
    clear: left;
  }

  &:last-child,
  &:nth-child(2n) {
    margin-right: 0;
  }
}

.item-blocks {
  margin-top: 1rem;

  svg,
  img {
    width: 20px;
  }

  &::after {
    clear: both;
    content: "";
    display: block;
  }
}

.top-spaced {
  margin: 2rem 0;
  border-bottom: 1px solid var(--mid-color);

  h2 {
    margin: -1.4rem 0;
  }

  .summaries {
    border-top: 2px solid var(--slate);
    margin: 0.2rem -2rem;
    padding: 1.8rem 2rem;
  }
}

.section-hero-image {
  max-width: none;
  width: 100%;
}

hr {
  border-bottom: 2px solid var(--gainsboro);
  margin: 0.5rem 0;

  &.hr-blue {
    border-bottom: 2px solid var(--mid-color);
  }

  &.hr-red {
    border-bottom: 2px solid var(--red);
  }

  &.hr-green {
    border-bottom: 2px solid var(--green);
  }
}

.dropdown-button {
  background-blend-mode: lighten;
  border: thin solid var(--mid-color);
  color: var(--brand-alt);

  &.iconed {
    padding: 0.4rem 0.4rem 0.4rem 1.8rem;
  }

  &:hover {
    background-color: var(--mid-color);
    color: var(--brand-alt);
  }
}

.dropdown-menu {
  margin: 0.1rem 0;
  border: var(--mid-color);
  border-radius: 0.4rem;
  background: var(--light);
  position: absolute;
  width: 190px;
  display: none;

  &.active {
    display: block;
  }
}

.select_item {
  border-bottom: var(--mid-color);
  color: var(--brand-alt);
  display: flex;
  font-weight: 600;
  padding: 0.6rem 0.8rem 0.4rem 0.4rem;
  width: 100%;

  &:hover {
    background-color: var(--gainsboro);
    color: var(--brand-alt);
  }
}

@media screen and (max-width: 250px) {
  .panel {
    .half-width {
      width: 100%;
      margin: 0.8rem;
    }

    .third-width {
      width: 100%;
      margin: 0.8rem;
    }

    &.flex {
      flex-wrap: wrap;
    }
  }
}

@media screen and (min-width: 250px) {
  .panel {
    .half-width {
      width: 100%;
      margin: 0.8rem;
    }

    .third-width {
      width: 100%;
      margin: 0.8rem;
    }

    &.flex {
      flex-wrap: wrap;
    }
  }
}

@media screen and (min-width: 800px) {
  .panel {
    .third-width {
      width: 29%;
    }
  }
}

@media screen and (max-width: 890px) {
  .backimage {
    width: 100%;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)), url("bg/main.png");
  }

  .sideimage {
    display: none;
  }
}

@media screen and (min-width: 1000px) {
  .panel {
    margin: 2rem 0 0;

    .half-width {
      width: 45%;
    }

    .third-width {
      width: 29%;
    }
  }
}
