.action-bar {
  border-bottom: thin solid var(--gainsboro);
  padding: 0.4rem;

  .icon {
    display: flex;
    align-items: center;
  }

  a {
    display: flex;
    align-items: center;
    border: 2px solid var(--brand-alt);
    border-radius: 0.4rem;
    color: var(--brand-alt);
    cursor: pointer;
    margin: auto 0.4rem;
    padding: 0.2rem 0.4rem;

    &:hover {
      background-color: var(--brand-alt);
      color: var(--light);
    }
  }
}
