[data-slides-state-value="start"] {
  .controls {
    .hide-at-start {
      display: none;
    }

    .shown-at-end {
      display: none;
    }
  }
}

[data-slides-state-value="in_progress"] {
  .controls {
    .hide-at-start {
      display: block;
    }

    .shown-at-end {
      display: none;
    }
  }
}

[data-slides-state-value="end"] {
  .controls {
    .hide-at-start {
      display: block;
    }

    .hide-at-end {
      display: none;
    }

    .shown-at-end {
      display: block;
    }
  }
}

[data-slides-state-value="at_start_end_and_in_progress"] {
  .controls {
    .hide-at-start {
      display: none;
    }

    .hide-at-end {
      display: none;
    }

    .shown-at-end {
      display: block;
    }
  }
}
