.action-bar {
  border-bottom: var(--blackish) var(--blackish) var(--grey) var(--blackish);

  .icon {
    display: flex;
    align-items: center;
  }

  a {
    display: flex;
    align-items: center;
    border: 2px solid var(--brand-alt);
    border-radius: .4rem;
    color: var(--brand-alt);
    cursor: pointer;
    margin: auto .4rem;
    padding: .2rem .4rem;

    &:hover {
      background-color: var(--brand-alt);
      color: var(--light);
    }
  }
}
