.light-font {
  font-weight: 300;
}

.bold-font {
  font-weight: 600;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.absolute {
  position: absolute;
}

.sticky {
  position: sticky;
}

.relative {
  position: relative;
}

.level-one {
  z-index: 1;
}

.hide-x-overflow {
  overflow-x: hidden;
}

.hide-y-overflow {
  overflow-y: hidden;
}

.fixed {
  position: fixed;
}

.top-fixed {
  position: fixed;
  top: 0;
}

.bottom-fixed {
  position: fixed;
  bottom: 0;
}

.image {
  &.round-bdr {
    border-radius: 50%;

    img {
      border-radius: 50%;
      width: 100%;
    }
  }
}

.fixed-att-bg {
  background-attachment: fixed;
}

.light-stroke {
  svg {
    stroke: var(--light);
  }
}

.dark-stroke {
  svg {
    stroke: var(--dark);
  }
}

.icon {
  &.light-fill {
    svg {
      fill: var(--light);
    }
  }

  .gainsboro-fill {
    svg {
      fill: var(--gainsboro);
    }
  }

  &.grey-fill {
    svg {
      fill: var(--grey);
    }
  }

  &.red-fill {
    svg {
      fill: var(--red);
    }
  }

  &.dark-fill {
    svg {
      fill: var(--dark);
    }
  }

  &.blue-fill {
    color: var(--gainsboro);

    svg {
      fill: var(--gainsboro);
    }
  }

  &.ocean-fill {
    svg {
      fill: var(--gainsboro);
    }
  }

  &.micro-svg {
    svg {
      width: 10px;
      height: 10px;
    }
  }

  &.tiny-svg {
    svg {
      width: 12px;
      height: 12px;
    }
  }

  &.small-svg {
    svg {
      width: 15px;
      height: 15px;
    }
  }

  &.average-svg {
    svg {
      width: 20px;
      height: 20px;
    }
  }

  &.big-svg {
    svg {
      width: 25px;
      height: 25px;
    }
  }

  &.standard-svg {
    svg {
      width: 30px;
      height: 30px;
    }
  }

  &.medium-svg {
    svg {
      width: 40px;
      height: 40px;
    }
  }

  &.long-svg {
    svg {
      width: 100%;
      max-width: 200px;
      height: 80px;
    }
  }

  &.large-svg {
    svg {
      width: 55px;
      height: 55px;
    }
  }

  &.larger-svg {
    svg {
      width: 75px;
      height: 75px;
    }
  }

  &.huge-svg {
    svg {
      width: 100px;
      height: 100px;
    }
  }
}

.brd-bot-mc {
  border-bottom: thin solid var(--mid-color);
}

.brd-top-mc {
  border-bottom: thin solid var(--mid-color);
}

.hidden {
  display: none;
}

.auto-marg {
  margin: auto;
}

.invisibile {
  opacity: 0;
}

.tall {
  height: 65vh;
}

.no-margin {
  margin: 0;
}

.top-margin {
  margin-top: 0.4rem;
}

.right-margin {
  margin-right: 0.4rem;
}

.bottom-margin {
  margin-bottom: 0.4rem;
}

.left-margin {
  margin-left: 0.4rem;
}

.margin-sides {
  margin-left: 0.4rem;
  margin-right: 0.4rem;
}

.no-padding {
  padding: 0;
}

.padded {
  padding: 1.2rem;
}

.top-padded {
  padding-top: 1.2rem;
}

.right-padded {
  padding-right: 1.2rem;
}

.bottom-padded {
  padding-bottom: 1.2rem;
}

.left-padded {
  padding-left: 1.2rem;
}

.max-content {
  height: max-content;
}

.full-height {
  height: 100%;
}

.fill-avail-h {
  min-height: stretch;
}

.fill-avail-w {
  min-width: stretch;
}

.full-width {
  width: 100%;
}

.two-third-width {
  width: 66.66%;
}

.half-width {
  width: 50%;
}

.third-width {
  width: 33.33%;
}

.quarter-width {
  width: 25%;
}

.mid-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.grid {
  display: grid;
}

.flex {
  display: flex;

  &.row {
    flex-direction: row;
  }

  &.rev-row {
    flex-direction: row-reverse;
  }

  &.column {
    flex-direction: column;
  }

  &.wrapped {
    flex-wrap: wrap;
  }

  &.align-items-start {
    align-items: flex-start;
  }

  &.align-content-start {
    align-content: flex-start;
  }

  &.baseline {
    align-items: baseline;
  }

  &.spaced-between {
    justify-content: space-between;
  }

  &.spaced-around {
    justify-content: space-around;
  }

  &.evenly-spaced {
    justify-content: space-evenly;
  }

  &.just-end {
    justify-content: flex-end;
  }

  &.just-start {
    justify-content: flex-start;
  }

  &.just-centered {
    justify-content: center;
  }

  &.center-aligned {
    align-items: center;
  }

  &.grow {
    flex-grow: 1;
  }
}

.flex-third-basis {
  flex-basis: calc(33% - 3rem);
}

.clickable {
  cursor: pointer;
}

.non-clickable {
  pointer-events: none;
}

.capitalized {
  text-transform: capitalize;
}

.upcase {
  text-transform: uppercase;
}

.downcase {
  text-transform: lowercase;
}

.brand-text {
  color: var(--brand-color);
}

.dark-text {
  color: var(--dark);
}

.red-text {
  color: var(--red);
}

.grey-text {
  color: var(--grey);
}

.light-text {
  color: var(--light);
}

.main-bg {
  background-image: url("bg/main.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}

.image-bg {
  background-image: url("bg/main.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}

.translucent-bg {
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
}

.accent-bg {
  background-color: var(--accent-color);
}

.brand-bg {
  background-color: var(--brand-color);
}

.brand-alt-bg {
  background-color: var(--brand-alt);
}

.cream-bg {
  background-color: var(--light);
}

.center {
  margin: auto;
  text-align: center;
}

.big-text {
  font-size: 4.4rem;
}

.x-large-text {
  font-size: 2.25rem;
}

.large-text {
  font-size: 1.25rem;
}

.medium-text {
  font-size: .8rem;
}

.small-text {
  font-size: .75rem;
}

.tiny-text {
  font-size: .55rem;
}

.borderless {
  border: 0;
}

.square {
  border-radius: .25rem;
}

.regular {
  border-radius: .5rem;
}

.circle {
  border-radius: 50%;
}

.round {
  border-radius: 1.25rem;
}

.rounded {
  border-radius: .2rem;
}

.dark-bg {
  background-color: var(--brand-alt);

  .toggle {
    cursor: pointer;

    &:hover {
      background-color: var(--accent-bg);
    }
  }
}

.night-bg {
  background-color: var(--accent-bg);
}

.light-bg {
  background-color: var(--light);
}

.green-bg {
  background-color: var(--green);
}

.blue-bg {
  background-color: var(--blue);
}

.red-bg {
  background-color: var(--red);
}

.white-bg {
  background-color: var(--white);
}

.grey-bg {
  background-color: var(--grey);
}

.gainsboro-bg {
  background-color: var(--gainsboro);
}

.black-bg {
  background-color: var(--blackish);
}

.basic-border {
  border: thin solid var(--gainsboro);
}

.alt-border {
  border: thin solid var(--grey);
}

.shadowed {
  box-shadow: 0 1px 4px rgba(0,0,0,0.1);
}

.mobile-only {
  display: none;
}

.tablet-only {
  display: none;
}

.desktop-only {
  display: none;
}

@media screen and (max-width: 420px) {
  .app-body {
    padding-bottom: 80px;
  }

  .mobile-only {
    display: inherit;
  }
}

@media screen and (max-width: 420px) {
  .app-body {
    padding-bottom: 80px;
  }

  .tablet-only {
    display: inherit;
  }
}

@media screen and (max-width: 800px) {
  .app-body {
    padding-bottom: 80px;
  }

  .tablet-only {
    display: inherit;
  }
}

@media screen and (min-width: 800px) {
  .app-body {
    margin-bottom: 50px;
  }

  .desktop-only {
    display: inherit;
  }
}
