<% content_for(:primary_nav) { render 'layouts/guest/primary_nav' } %>
<% content_for(:secondary_nav) { render 'layouts/guest/secondary_nav' } %>

<header class="header">
  <h1><%= t('site_name') %></h1>
</header>
