/* comments */

.comments-title, .comment-reply-title {
  font-size: 1.75em;
  font-weight: 700;
  color: $dodge-blue;
}

.comment-section {
  margin: 2rem;
}

.comments-title-container {
  border-bottom: 1px solid $slate;
}

.comment-respond {
  margin: 2rem 0;
  padding: 1.5%;
  background: $white;
  border-top: 1px solid $slate;
}

.comments {
  .comment {
    margin-top: 40px;
    position: relative;
  }

  .commentlist {
     > li {
      &:first-child {
        margin-top: 0;
      }
    }
  }
}

.comment-inner {
  margin-left: 90px;
  padding: 2%;
  background: $flat;
  position: relative;
  border-radius: 3px;

  &::after {
    content: '';
    display: block;
    border: 12px solid transparent;
    border-right-color: $flat;
    position: absolute;
    top: 15px;
    left: 0;
    margin-left: -24px;
  }
}

.comment-avatar {
  float: left;
  width: 60px;
  height: 60px;
  background: $grey;
  border-radius: 15%;
}

.comment-header {
  p , a {
    font-size: .85em;
  }

  cite {
    color: $brand-color;
    display: block;
    font-size: 1em;
    font-weight: 700;
    margin-bottom: 8px;

    a {
      color: $brand-color;

      &:hover {
        color: $bright;
      }
    }
  }
}

/* comment-content */

.comment-content {
  font-size: .9em;

  h1 , h2 , h3 , h4 , h5 , h6 {
    margin: 50px 0 20px;
    font-weight: 400;
    font-size: 1.2em;
  }

  a {
    & :hover {
      text-decoration: underline;
    }
  }

  li {
    margin-top: .5em;
    line-height: 170%;
  }

  blockquote , p , li {
    padding: 10px;
    line-height: 150%;
    margin-top: 1em;
    word-wrap: break-word;
  }
}

.comment-actions {
  position: absolute;
  right: 20px;
  top: 22px;

  .fa {
    color: $pencil;
    font-size: 20px;
  }
}


@media screen and (max-width: 600px) {
  .comment-inner {
    margin-left: 80px;
  }

  .comment {
    .avatar {
      width: 40px;
      height: 40px;
    }
  }
}

@media screen and (max-width: 480px) {

  .comment-inner {
    margin: 0;
    padding: 5px;

    &::after {
      border-bottom-color: $flat;
      border-right-color: transparent;
      margin-left: 10px;
      top: -22px;
    }
  }

  .comment-section {
    margin: .2rem;
  }

  .comment-avatar {
    float: none;
    margin: 8px 0;
  }
}
