.action-bar {
  border-bottom: $base-border;

  a {
    align-items: center;
    border: 2px solid $ocean;
    border-radius: .4rem;
    color: $ocean;
    cursor: pointer;
    display: flex;
    margin: auto .4rem;
    padding: .2rem .4rem;

    &:hover {
      background-color: $ocean;
      color: $white;
    }
  }
}

.range-container {
  margin: 2rem;
}

.range-slider {
  width: 100%;
}

.range-output {
  font-size: 4rem;
}

#rangevalue {
  text-align: center;
  font-size: 18px;
  display: block;
  margin: auto;
  padding: 10px 0;
  width: 100%;
}

input[type="range"] {
  width: 100%;
  height: 10px;
  background-color: $gainsboro;
  border: thin solid $grey;
  border-radius: 10px;
  margin: auto;
  transition: color .3s ease;
  -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 40px;
  height: 40px;
  background-color: $white;
  border-radius: 50%;
  box-shadow: 0 0 3px $grey;
  transition: color .5s ease;

  &::before {
    display: block;
    position: absolute;
    font-style: normal;
    font-weight: 400;
    text-decoration: inherit;
    width: 1em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #d6d6d6;
    font-size: 18px;
    top: 16px;
    background: 0 0;
    left: 5px;
    content: "\276E";
  }

  &::after {
    display: block;
    position: absolute;
    font-style: normal;
    font-weight: 400;
    text-decoration: inherit;
    width: 1em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #d6d6d6;
    font-size: 18px;
    top: 16px;
    background: 0 0;
    left: 5px;
    content: "\276E";
  }
}

input[type="range"]::-webkit-slider-thumb:active {
  box-shadow: 0 0 1px $grey;
}
