.hr-sectioned {
  margin-bottom: 1.4rem;

  .section {
    &:not(:last-child) {
      border-bottom: 1px solid $gainsboro;
    }
  }
}

.vt-sectioned {
  .section {
    &:not(:last-child) {
      border-left: 1px solid $gainsboro;
    }
  }
}

.grid {
  display: flex;
  margin: auto;
  flex-wrap: wrap;
}

.grid-container {
  margin: 2rem auto;
}

.grid-item {
  display: flex;
  width: 30%;

  &.image {
    background-size: cover;
    border: 4px solid $grey;
    border-radius: .4rem;
  }

  &.card {
    min-height: 200px;
    min-width: 150px;
    position: relative;
  }

  .full {
    width: 100%;
  }
}

.grid-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1em;
  border-radius: .2em;
  background-color: lighten($mid-color, 50%);

  img {
    margin: 2% auto;
  }

  p {
    padding: 10px;
    color: $black;
    flex: 1 0 auto;
  }

  h2 {
    text-align: center;
    color: $black;
  }
}

.alt-overlay {
  background-image: linear-gradient($light-grey, $light-black);
  cursor: pointer;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  opacity: 0;
  position: absolute;
  transition: opacity 1s ease-in-out;

  &:hover {
    opacity: .6;
  }
}

.overlay {
  background-image: linear-gradient($light-grey, $light-black);
  cursor: pointer;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  position: absolute;
  transition: opacity 1s ease-in-out;

  &:hover {
    opacity: .5;
  }
}

.social-links {
  margin: auto;
}

@media screen and (max-width: 980px) {
  .grid-item {
    width: 75%;
  }
}

@media screen and (max-width: 800px) {
  .to-column {
    flex-direction: column;

    .to-full {
      width: 100%;
    }
  }
}

@media screen and (max-width: 640px) {
  .grid-item {
    width: 100%;
  }
}
