.tabbar {
  border: thin solid $gainsboro;

  &.grouped {
    margin: 0;
  }

  .tab {
    background: $grey;
    cursor: pointer;
    padding: 1.4rem .2rem;
    text-align: center;
    text-transform: uppercase;
    border-left: 1px solid $gainsboro;
    border-right: 1px solid $gainsboro;

    &.active {
      background: $white;
      box-shadow: $content-shadow;
      border-left: 1px solid $gainsboro;
      border-right: 1px solid $gainsboro;
      font-weight: bold;
    }
  }
}

.grey-block {
  background: $flat;
  box-shadow: $deep-shadow;
  padding: 4rem 2rem;
}

.hero {
  display: inline-block;
}

.grouped {

  .button {
    cursor: pointer ;

    &.active {
      background-color: $white;
      border: thin solid $grey;
      cursor: revert;
      color:$night;
    }

    &:first-child {
      border-top-left-radius: .2rem;
      border-bottom-left-radius: .2rem;
    }

    &:last-child {
      border-top-right-radius: .2rem;
      border-bottom-right-radius: .2rem;
    }
  }
}

.button {
  padding: .8rem 1.2rem;
  background-color: $brand-color;
  border: thin solid $clear;
  color: $white;

  &.thin-btn {
    padding: .4rem 1.2rem;
  }

  &.dark {
    &:hover, &:focus {
      background-color: $alt-accent;
      border: thin solid $brand-color;
      color: $ocean;
    }

    &:disabled {
      cursor: not-allowed;
      opacity: .5;

      &:hover {
        background-color: $alt-accent;
      }
    }
  }

  &.light {
    background-color: $shades;
    border: thin solid darken($shades, 10%);
    color: $ocean;

    &:hover, &:focus {
      background-color: darken($shades, 10%);
      border: thin solid $ocean;
      color: $ocean;
    }

    &:disabled {
      cursor: not-allowed;
      opacity: .5;

      &:hover {
        background-color: $clean;
      }
    }
  }
}

.gapped {
  margin: 2rem;

  &.no-lm {
    margin-left: 0;
  }

  &.no-rm {
    margin-right: 0;
  }
}

.controls {

  .filter-container {
    display: none;

    &.active {
      display: block;
    }
  }
}

.split {
  .post {
    width: 70%;
  }

  .aside {
    width: 30%;
    margin: 0 0 0 1.3rem;
  }
}

.content {
  background: $white;
  box-shadow: $header-shade;
  padding: 2rem;
}

.sparkline {
  padding: 2rem .4rem;
}

.heading {
  margin: 1.2rem auto;
  max-width: 60%;
}

.message-container {
  background: shade($blue, 30%);
  border-radius: 20px;
  margin: 10px auto;
  min-height: 100px;
  padding: 25px;
  width: 80%;
}

.heading,
.pre-text {
  h1 {
    color: $blackish;
    font-weight: 600;
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;
  }

  p {
    font-size: 20px;
  }
}

.header {
  background-image: linear-gradient($light-grey, $light-black), url(image_path("bg/main.png"));
  background-size: cover;
  font-weight: 400;
  text-align: center;
  width: 100%;
  height: 200px;
  display: table;

  h1 {
    display: table-cell;
    vertical-align: middle;
    font-size: 30pt;
    color: $white;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
  }
}

.following {
  color: $blackish;
  font-weight: 500;
  text-align: center;
  text-transform: capitalize;

  h1 {
    font-size: 48px;
  }
}

.tagline {
  color: $gray;
  font-size: 26px;
  font-weight: 300;
  margin: 2rem auto;
  width: 83.33%;
}

.stats-box {
  background: $white;
  border: 2px $gainsboro solid;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: $block-shadow;
  display: flex;
  margin: auto;
  width: 80%;
}

.stat {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 32px;

  .large-text {
    font-size: 36px;
  }

  .small-text {
    font-size: 14px;
  }
}

.blocks {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.block {
  margin: 1.2rem auto;
  max-width: 540px;
  padding: 1.5em;
  text-align: left;
  width: 30%;

  p, h2 {
    color: $flat;
    text-align: center;
  }

  button {
    width: 100%;
  }

  &.content {
    padding: .4rem 0 0;
  }
}

.block-header {
  border-bottom: 1px solid $gainsboro;

  h1 {
    font-size: 20px;
  }
}

.striped {

  &:nth-child(even) {
    background-color: $gainsboro;
    border-top: 1px solid $grey;
    border-bottom: 1px solid $grey;
  }
}

.block-content {
  border-radius: .2em;
  display: flex;
  flex-direction: column;
  padding: 1em;
  width: 100%;

  img {
    height: 80px;
    margin: 2% auto;
  }

  p {
    color: $black;
    flex: 1 0 auto;
    padding: 10px;
  }

  h2 {
    color: $black;
    text-align: center;
  }
}

.dropzone {
  background-color: darken($white, 4%);
  text-align: center;
  @include border-stl(thick, dashed, $gainsboro);

  &:hover {
    background-color: darken($white, 2%);
    color: darken($base-bg-color, 40%);
    @include border-stl(thick, dashed, $rockstar);
  }
}

.translucent {
  background: $translucent;
  box-shadow: $full-box;
}

.frosted {
  background: $frost;
  box-shadow: $full-box;
}

@media screen and (min-width: 700px) {
  .stats-box {
    width: 85%;
    flex-direction: row;
  }

  .stat {
    width: 33%;

    &:nth-child(2) {
      border-left: 2px solid $gainsboro;
      border-right: 2px solid $gainsboro;
      border-top: 0;
      border-bottom: 0;
    }
  }

  .block {
    width: 30%;
  }
}

@media screen and (max-width: 960px) {
  .block {
    width: 45%;
  }
}

@media screen and (max-width: 540px) {
  .stats-box {
    width: 95%;
    flex-direction: column;
  }

  .heading {
    max-width: 90%;
  }

  .stat {
    width: 100%;

    &:nth-child(2) {
      border-top: 2px solid $gainsboro;
      border-left: 0;
      border-right: 0;
      border-bottom: 2px solid $gainsboro;
    }
  }

  .block {
    width: 90%;
  }

  .gapped {
    margin: .8rem;
  }
}

@media screen and (max-width: 650px) {
  .tabbar {

    .tab {
      padding: 1.2rem .2rem;
    }
  }

  .block {
    width: 80%;
  }

  .split {
    .post {
      width: 100%;
    }

    .aside {
      display: none;
    }
  }

}
