.post-container {
  height: 100%;
  padding: 1.2rem;
}

.post-header {
  border-bottom: 1px solid $gainsboro;
  font-size: 26px;
}

.post-footer {
  border-top: 1px solid $gainsboro;
}


.post-content {
  flex: 1;
  padding: 0 1.5rem;

  blockquote {
    font-weight: 500;
    font-size: 20px;

    &:before,
    &:after {
      content: "";
      display: block;
      width: 30%;
      height: 3px;
      background: $grey;
      margin: 40px auto;
    }
  }

  ul {
    list-style-type: initial;
    margin: 0 2rem;
  }

  ol {
    list-style-type: lower-alpha;
  }
}

.posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;

  .block {
    margin: 1.2rem;
    border-radius: 4px 4px 0 0;
  }
}

.post {

  &.content {
    padding: 1.4rem 0 0;
  }

  .post-date {
    color: $gray;
    font-size: 12px;
    margin: auto .2rem;
  }

  .meta {
    background: $cream;
    padding: .2rem 1.2rem;

    svg {
      margin: 0 .4rem;
    }
  }
}

.blog-card {
  width: 30%;
}

.post-title {
  font-weight: 600;
  margin: .4rem 1.8rem;

  a {
    color: $ocean;

    &:hover {
      color: $blue;
    }
  }
}

.adblock {
  border: thin solid $grey;
  padding: 4px;
}

.post-meta-container {
  margin: 2rem auto;
  padding: 2rem;
  text-align: center;
  background: $base-bg-color;
}

.block-meta {
  border-top: 1px solid $base-border-color;
  display: flex;
  padding: .8rem;
  justify-content: space-around;

  .meta {
    margin: 0 .2rem;
    white-space: nowrap;
    display: flex;
  }
}

.pagination {
  background-color: $white;
  border-radius: 5px;
  box-shadow: $nav-box;

  .active,
  .current {
    background-color: $brand-color;
    color: $white;
    float: left;
    padding: 8px 16px;
  }

  .disabled {
    background-color: $base-bg-color;
    color: $gray;
    cursor: not-allowed;
    padding: 8px 16px;
  }

  .gap {
    padding: 8px 4px;
  }

  a {
    color: $night;
    float: left;
    padding: 8px 16px;

    &:hover {
      background-color: $base-bg-color;
    }
  }

  span {
    color: $midnight;
    float: left;
    border: thin solid $base-border-color;

    &:last-child {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    &:first-child {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
  }
}

.link-underline {
    // text-decoration: underline;
    // text-decoration-color: $alt-accent;

  &.read-more {
    &:hover::after {
        height: 130%;
      }

    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: -5px;
      width: 120%;
      height: 4px;
      background: $alt-accent;
      left: -5px;
      transition: height .2s;
      z-index: -1;
    }
  }
}

.sub-section {
  &.sm-icon {
    margin: auto .2rem;

    svg {
      width: 20px;
      height: 20px;
    }
  }

  .sub-heading {
    font-size: 16px;
    margin: 0 4px;
  }
}

.votes {
  .vote {
    color: $night;
  }
}

.grouped {
  .icon,p {
    margin: 0 5px;
  }
}

.author {
  img {
    border: 8px solid $white;
    border-radius: 50%;
    width: 100px;
  }

  h4 {
    text-transform: uppercase;
  }

  .bio {
    width: 100%;
    padding: 4rem;
  }
}
