/*---------------------------
    Variables
-----------------------------*/

// Typography

$base-font-family: $font-stack-system;
$heading-font-family: $font-stack-helvetica;

// Font Sizes

$base-font-size: 10px;

// Line height

$base-line-height: 1.5;
$heading-line-height: 1.2;

//  Sizes

$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors

$black: #000;
$blackish: #111;
$clear: #1110;
$unclear: #0202020d;
$midnight: #030303;
$white: #fff;
$shades: #eee;
$base: #333;
$gray: #808080;
$blue: #1565c0;
$purp: #5f4d93;
$mix: #935d8c;
$dusk: #262730;
$peach: #e37682;
$red: #d8452e;
$ruby: #ed3e44;
$crimson: #dc143c;
$blood: #f14c2e;
$fresh-blue: #4481eb;
$fresh-sky: #04befe;
$indigo: #5c6bc0;
$bright: #00f2fe;
$bright-blue: #0cc;
$ocean: #1b1b26;
$deepsea: #2f3242;
$mercury: #2b303b;
$dusk: #262730;
$night: #353740;
$navy: #3f3f42;
$mint: #10a233;
$led: #108b17;
$grass: #21ba45;
$green: #65b73c;
$sky: #4facfe;
$tweet: #1da1f2;
$insta: #e4405f;
$whatsapp: #25d366;
$facebook: #3b5998;
$grey: #bdbdbd;
$space-grey: #909090;
$clean: #ddd;
$slate: #bbb;
$coal: #282828;
$ash: #646464;
$screen: #2a2a2a;
$bland: #2e2e2e;
$charcoal: #26272c;
$yellow: #fee902;
$goldenrod: #daa520;
$rockstar: #ffa900;
$purple: #632286;
$light-blue: #4cbeff;
$cream: #f5f5f5;
$flat: #efefef;
$border: #4a4a4a;
$pencil: #757575;
$mca-purple: #46065c;
$mca-magenta: #822a85;
$mca-red: #b82837;
$mca-orange: #f37021;
$mca-yellow: #fdb933;
$mca-green: #50b848;
$mca-blue: #007196;
$neon-blue: #268bd2;
$neon-purple: #7229d1;
$dodgerblue: #1e90ff;
$alt-blue: #24466d;
$brand-color: #2b3542;
$alt-brand: #007299;
$deep-blue: #4cbeff;
$mid-base: #5f6975;
$mid-color: #4b545f;
$brand-blue: #005a84;
$brand-white: #f1f1f1;
$sky-blue: #00bfff;
$alt-grey: #4a4b4a;
$dark-gray: #1b1c1d;
$medium-gray: #999;
$gainsboro: #dcdcdc;
$light-gray: #efefef;
$button-back: #404040;
$button-dark: #171717;

$clear-grey: rgba(60, 60, 60, .2);
$clear-black: rgba(66, 66, 66, .1);
$clear-white: rgba($white, .2);
$frost: rgba($white, .6);
$translucent: rgba($black, .2);
$transparent: rgba($black, 0);
$light-grey: rgba($black, .5);
$light-black: rgba($black, .7);

$dark-grey: darken($grey, 40%);
$header: darken($charcoal, 5%);
$light-yellow: lighten($yellow, 5%);
$dark-yellow: darken($yellow, 15%);
$light-blue: lighten($blue, 5%);
$dark-blue: darken($brand-blue, 25%);
$dodge-blue: darken($brand-blue, 45%);
$dark-ocean: darken($blue, 25%);

$nav-border: $alt-grey $black $black $black;
$base-border: $black $black $alt-grey $black;

// Shadows

$deep-shadow: inset 1px 3px 4px 4px rgba(187, 187, 187, .35);
$block-shadow: 0 1px 4px rgba(0, 0, 0, .1);
$wrap-shadow: 0 10px 10px 4px rgba(0, 0, 0, .1);
$shadow-text: 1px 1px 0 rgba(0, 0, 0, .6);
$dark-box: inset 1px 4px 7px 5px rgba($ocean, .2);
$light-box: inset 1px 1px 1px 2px rgba($gray, .2);
$in-shadow: inset 0 4px 10px 0 rgba($gray, .2);
$header-shade: 0 0 5px rgba($black, .15);
$light-shadow: 0 0 9px rgba($black, .15);
$shadow-text: 0 0 6px rgba($black, .3);
$shadow-box: inset 0 1px 0 0 rgba($slate, .35);
$nav-box: 0 3px 9px rgba($black, .35);
$thin-box: 0 3px 4px rgba($black, .35);
$bottom-shadow: 0 4px 2px -2px rgba($gray, .35);
$content-shadow: 0 0 5px rgba(0, 0, 0, .15);
$full-box: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12), 0 3px 1px -2px rgba(0, 0, 0, .2);

// Gradients
$mid-grad: linear-gradient(to top, $mid-color 0%, $mid-base 40%);
$mid-grad: linear-gradient(to top, $mid-color 0%, $mid-base 40%);
$light-grad: linear-gradient(to top, $flat 0%, $slate 100%);
$blue-grad: linear-gradient(to top, $alt-brand 0%, $alt-blue 100%);
$skyblue-grad: linear-gradient(to top, $brand-blue 0%, $sky-blue 100%);
$light-grad: linear-gradient(to top, $flat 0%, $slate 100%);
$pitch-grad: linear-gradient(to top, $ash 0%, $coal 100%);
$gradient: linear-gradient(to bottom, $light-blue, $dark-blue);
$yellow-gradient: linear-gradient(to bottom, $light-yellow, $dark-yellow);
$dark-grad: linear-gradient(to bottom, $coal 0%, $ash 100%);
$dark-grad: linear-gradient(to bottom, $ash 0%, $coal 100%);
$gray-button: linear-gradient(to bottom, $white 0%, $clean 100%);
$grey-button: linear-gradient(to bottom, $white 0%, $slate 100%);

// Font Colors

$base-color: $ocean;
$alt-base: $white;
$color-accent: $sky;
$alt-accent: $rockstar;
$alt-color: $night;
$base-font-color: $dark-gray;
$base-bg-color: $gainsboro;

// Border

$base-border-color: $gainsboro;
$base-border: thin solid $base-border-color;

// Background Colors

$base-background-color: $white;
$secondary-background-color: tint($base-border-color, 75%);

// Forms

$form-box-shadow: inset 0 1px 3px rgba($black, .06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($base-color, $lightness: -5%, $alpha: -.3);

// Animations

$base-duration: 150ms;
$base-timing: ease;

// Mixins

@mixin link-colors ($text-color, $visited-color, $hover-color, $active-color) {
  & {
    color: $text-color;
  }

  a {
    color: $text-color;

    &:visited {
      color: $visited-color;
    }

    &:hover {
      color: $hover-color;
    }

    &:active, &:focus {
      color: $active-color;
    }
  }
}

@mixin scrollbars($size, $foreground-color, $background-color: darken($foreground-color, 50%)) {
  ::-webkit-scrollbar {
    height: $size;
    width: $size;
  }

  ::-webkit-scrollbar {
    height: $size;
    width: $size;
  }

  ::-webkit-scrollbar-thumb {
    background: $foreground-color;
  }

  ::-webkit-scrollbar-track {
    background: $background-color;
  }
}

@mixin button-states ($color, $altcolor, $textcolor) {
  background-color: $color;
  border: 2px solid $altcolor;
  color: $textcolor;

  &:hover,
  &:focus {
    background-color: $altcolor;
    color: $textcolor;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: .5;

    &:hover {
      background-color: $altcolor;
    }
  }
}

@mixin stack ($color) {
  box-shadow: 4px -4px 0 2px rgba($color, .1), 15px -12px 0 2px rgba($color, .2);
}

@mixin hr-fade ($direction, $color, $background) {
  border-image: linear-gradient(to $direction, $color, $background, $color);
  border-image-slice: 1;
}

@mixin glow ($color, $size) {
  box-shadow: 0 0 2px $size $color;
  transition: .3s ease-out;
}

@mixin blue-glow ($color) {
  border: thin solid $color;
  box-shadow: 0 0 5px $color;
  transition: .3s ease-out;
}
