<% content_for :title, "Editing action text rich text" %>

<h1>Editing action text rich text</h1>

<%= render "form", admin_action_text_rich_text: @admin_action_text_rich_text %>

<br>

<div>
  <%= link_to "Show this action text rich text", @admin_action_text_rich_text %> |
  <%= link_to "Back to action text rich texts", admin_action_text_rich_texts_path %>
</div>
